body{
    font-family: PingFangSC-Regular;
    margin:0;
    padding:0;
}
.content{
    width:100%;
}
.content .title{
    font-size:0.32rem;
    height:0.8rem;
    background-color: #4A90E2;
    color:#fff;
    text-align: center;
    line-height: 0.8rem;
}
.content .back{
    width:0.36rem;
    height:0.36rem;
    position: absolute;
    top:0.22rem;
    left:0.5rem;
}
.content .phone,
.content .name,
.content .location,
.content .remark{
    width:6.5rem;
    height:0.7rem;
    margin:20px auto;
    font-size:0.28rem;
    position: relative;
}
.content .phone img,
.content .name img,
.content .location img{
    position: absolute;
    top:0.09rem;
    width:0.6rem;
    height:0.6rem;
}
.content .location img.below{
    right:0.2rem;
    top:0.17rem;
    width:0.5rem;
    height:0.5rem;
}
.content .phone input,
.content .name input,
.content .location input,
.content .remark input{
    float:right;
    height:100%;
    padding-left:0.8rem;
    border:none;
    border-radius: 4px;
    border:1px solid #979797;
    width:5.7rem;
    font-size: 0.28rem;
    color:#333;
    outline:none;
}
.content .remark input{
    padding-bottom:2rem;
    padding-left:0.2rem;
    width:6.3rem;
}
input::-webkit-input-placeholder{ /* WebKit browsers */
    color: #A1A1A1;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #A1A1A1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #A1A1A1;
}
input:-ms-input-placeholder{ /* Internet Explorer 10+ */
    color: #A1A1A1;
}
.deal{
    width:6.5rem;
    margin:3.5rem auto 0 auto;
    font-size:0.28rem;
}
.deal a{
    text-decoration:none;
    color:#17BC4D;
}
.submit{
    width:6.5rem;
    height:0.8rem;
    margin:0.1rem auto 0 auto;
    background-color: #17BC4D;
    border-radius: 6px;
    text-align: center;
    line-height:0.8rem;
    font-size:0.32rem;
    color:#fff;
}
