.record,
.invitation_code{
    font-size:0.28rem;
    /*margin-top:0.2rem;*/
    width:6.5rem;
    margin:0.2rem auto 0 auto;
}
.record span:nth-child(1),
.invitation_code span:nth-child(1){
    display:inline-block;
    width: 4.7rem;
    height: 0.5rem;
    color: rgba(16, 16, 16, 1);
    font-size: 0.28rem;
    text-align: center;
    line-height:0.5rem;
    background-color: #eee;
}
.record span:nth-child(2),
.invitation_code span:nth-child(2){
    width: 1.66rem;
    height: 0.46rem;
    border-radius: 4px;
    color: rgba(16, 16, 16, 1);
    font-size: 0.28rem;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    display:inline-block;
}
table{
    margin-top:0.2rem;
}
tr th:nth-child(1),
tr td:nth-child(1){
    width:1.9rem;
}