body {
    font-family: PingFangSC-Medium;
    font-size: 0.28rem;
    margin:0;
    padding:0;
    background: #333333;
}
.select_code{
    font-size:0.32rem;
    height:0.8rem;
    background-color: #4A90E2;
    color:#fff;
    position: relative;
    text-align: center;
    line-height: 0.8rem;
}
.back{
    width:0.36rem;
    height:0.36rem;
    position: absolute;
    top:0.22rem;
    left:0.5rem;
}
.img img{
    width:5.46rem;
    height:9.6rem;
    margin:0.3rem 1.02rem 0 1.02rem;
}
.img p{
    font-size: 0.28rem;
    color: #EBEBEB;
    text-align: center;
}