body{
    font-family: PingFangSC-Medium;
    margin:0;
    padding:0;
}
/*推广员后台加载页*/
.logo{
    width:2rem;
    height:2rem;
    margin:2rem 0 0 2.75rem;
}
.matter{
    margin:4rem auto 0 auto;
    width:6.5rem;
    font-size:0.32rem;
    text-align: center;
}
a{
    text-decoration: underline;
    color:#4A90E2;
}
/*推广员申请成功页*/
.title{
    font-size:0.32rem;
    height:0.8rem;
    background-color: #4A90E2;
    color:#fff;
    position: relative;
    text-align: center;
    line-height: 0.8rem;
}
.back{
    width:0.36rem;
    height:0.36rem;
    position: absolute;
    top:0.22rem;
    left:0.5rem;
}
.content{
    margin-bottom:2rem;
}
.content img{
    width:1.2rem;
    height:1.2rem;
    margin:1.2rem 0 0 3.15rem;
}
.content p,
.wxm p{
    text-align:center;
}
.content p:nth-child(2){
    color:#4BAE4F;
    font-size:0.36rem;
    margin:-0.1rem 0 1.5rem 0.2rem;
}
.content p:not(:nth-child(2)){
    font-size:0.28rem;
}
.wxm{
    font-size:0.28rem;
}
.wxm img{
    width:2rem;
    height:2rem;
    margin:0.1rem 0 0 2.75rem;
}