body{
    font-family: Arial;
}
.content,
.wxm{
    margin:3rem auto 0 auto;
    width:6.5rem;
    font-size:0.32rem;
    text-align: center;
}
.content{
    font-family: bold;
}
a{
    text-decoration: none;
    color:#213cf2;
}
.wxm{
    font-size:0.24rem;
}
img{
    width:2rem;
    height:2rem;
}