body {
    font-family: Arial;
    font-size: 0.28rem;
}

.d_back {
    width: 1.5rem;
    /* border: solid 0.01rem gray;*/
}

table {
    margin-top: 0.2rem;
}

.tr {
    width: 3rem;
    height: 1rem;
    float: left;
    margin: 0 0 2.5rem 0.55rem;
}

.btn {
    width: 1.7rem;
    height: 0.54rem;
    border-radius: 4px;
    color: rgba(16, 16, 16, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    background-color: #fff;
    line-height: 0.54rem;
    margin: 0.1rem auto 0 auto;
}

a {
    text-decoration: none;
}

a .btn {
    width: 1.7rem;
    height: 0.54rem;
}

span:nth-child(2) {
    margin-left: 0.3rem;
}

span:nth-child(3) {
    margin-left: 0.1rem;
}

.d_goods {
    width: 2.5rem;
    height: 3rem;
    border: solid 0.001rem gray;
    line-height: 0.5rem;
    display: inline-block;
}

.i_img {
    margin-top: 0.4rem;
    width: 1rem;
    height: 1rem;
    margin-left: 0.75rem;
}

.Donation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    background-color: #fff;
    display: none;
    text-align: center;
    width: 6.42rem;
    height: 4.1rem;
}

.Donation .headline {
    height: 1.8rem;
    margin-top: 1rem;
}

.querycard span,
.querycard a {
    display: inline-block;
    width: 1.8rem;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: 4px;
    color: rgba(16, 16, 16, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
}

.querycard {
    width: 6rem;
    margin: 0.3rem auto 0 auto;
}

.Donation,
.examples_of_successful {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    background-color: #fff;
    display: none;
    width: 6.22rem;
}

.headline {
    width: 5.32rem;
    height: 1.26rem;
    color: rgba(16, 16, 16, 1);
    font-size: 0.4rem;
    text-align: center;
    margin: 0.5rem auto;
}