body {
    font-family: PingFangSC-Medium;
    font-size: 0.28rem;
    margin:0;
    padding:0;
}
.select_code{
    font-size:0.32rem;
    height:0.8rem;
    background-color: #4A90E2;
    color:#fff;
    position: relative;
    text-align: center;
    line-height: 0.8rem;
}
.back{
    width:0.36rem;
    height:0.36rem;
    position: absolute;
    top:0.22rem;
    left:0.5rem;
}
.QuickMark{
    margin-top:0.5rem;
}
.QuickMark .img{
    width:2.76rem;
    height:2.76rem;
    margin:0 2.37rem;
    border: 2px solid #000000;
}
.QuickMark img{
    width:2.4rem;
    height:2.4rem;
    margin:0.18rem;
}
.QuickMark p{
    text-align: center;
}
.template{
    margin:0 0.42rem;
}
.template p:nth-child(1){
    font-size: 0.28rem;
    color: #4A4A4A;
}
.template ul{
    list-style: none;
    overflow: hidden;
    margin:0;
    padding:0;
}
.template ul li{
    float:left;
    width:2.04rem;
    height:3.6rem;
    position: relative;
}
.template ul li:not(:first-child){
    margin-left:0.25rem;
}
.template ul li img:nth-child(1){
    width:2.04rem;
    height:3.6rem;
    box-sizing: border-box;
}
.template ul li img:nth-child(2){
    position: absolute;
    top:0.1rem;
    right:0.1rem;
    width:0.6rem;
    height:0.6rem;
    display:none;
}
.template ul li p{
    position: absolute;
    top:1.6rem;
    left:0.1rem;
    width:0.6rem;
    height:0.6rem;
    background-color: #fff;
}
.template span:nth-child(3){
    font-size: 0.22rem;
    color: #4A4A4A;
    -webkit-transform:scale(0.8);
}
.template ul li.native img:nth-child(1){
    border:2px solid #2F86F2;
}
.template ul li.native img:nth-child(2){
    display:block;
}
.btn{
    background: #F34235;
    border-radius: 15px;
    width:1.8rem;
    height:0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color:#fff;
    margin:0.48rem 2.85rem 0 2.85rem;
}