.select_code{
    font-size:0.32rem;
    height:0.8rem;
    background-color: #4A90E2;
    color:#fff;
    position: relative;
}
.select_code img{
    width:0.36rem;
    height:0.36rem;
    margin:0.22rem 0 0 0.5rem;
}
.select_code span{
    display:inline-block;
    text-align: center;
    line-height: 0.8rem;
    height:0.8rem;
    position: absolute;
    top:0;
    left:2.9rem;
}
.generalization{
    width:100%;
    height:1.42rem;
    background: url('../img/img_bar.png') no-repeat 0 0;
    background-size: 100% 100%;
}
.generalization .myCode,
.generalization .QR{
    float:left;
}
.generalization .myCode{
    margin-left:0.5rem;
}
.generalization .myCode .my{
    font-size: 0.24rem;
    color: #FFFFFF;
    margin-top:0.1rem;
}
.generalization .myCode .code{
    margin:0.05rem 0 0 0.6rem;
}
.generalization .myCode .code span:nth-child(1){
    display:inline-block;
    width:2rem;
    height:0.5rem;
    background: url("../img/codeBG.png") no-repeat 0 0;
    background-size: 100% 100%;
    border: 1px solid #000000;
    text-align: center;
    line-height: 0.5rem;
    font-size:0.4rem;
}
.generalization .myCode .code span:nth-child(3){
    display:inline-block;
    color:#fff;
    font-size:0.2rem;
    -webkit-transform:scale(0.8);
    width:2rem;
    text-align: center;
}
.generalization .QR{
    background: #F34235;
    border-radius: 15px;
    width:2rem;
    height:0.5rem;
    margin:0.5rem 0 0 1.5rem;
    position: relative;
}
.generalization .QR img{
    width:0.3rem;
    height:0.3rem;
    position: absolute;
    top:0.1rem;
    left:0.15rem;
}
.generalization .QR span{
    font-size: 0.24rem;
    color: #FFFFFF;
    position: absolute;
    top:0.07rem;
    right:0.15rem;
}
.invited_record{
    text-align: center;
    margin:0.2rem 0;
    font-size:0.28rem;
    color:#333;
}
table{
    margin:-0.1rem auto 0 auto;
}
#table1{
    display:none;
}
.my_players{
    margin:0.5rem 0 0.5rem 0.9rem;
}
.my_players span{
    width:2.88rem;
    height:0.54rem;
    display:inline-block;
    text-align: center;
    line-height: 0.54rem;
    border:1px solid #007AFF;
    font-size: 13px;
    color: #007AFF;
}
.my_players span:nth-child(1){
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.my_players span:nth-child(2){
    margin-left:-0.1rem;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.my_players span.active{
    color: #FFFFFF;
    background-color: #007AFF;
}