body {
    font-family: PingFangSC-Medium;
    font-size: 0.28rem;
    margin:0;
    padding:0;
    color:#333;
}
.select_code{
    font-size:0.32rem;
    height:0.8rem;
    background-color: #4A90E2;
    color:#fff;
    text-align: center;
    line-height: 0.8rem;
}
.back{
    width:0.36rem;
    height:0.36rem;
    position: absolute;
    top:0.22rem;
    left:0.5rem;
}
.title{
    color:#333;
    font-size: 0.28rem;
    text-align: center;
    margin-top:0.2rem;
}
table{
    font-size:0.28rem;
    margin:0.1rem auto;
    width:100%;
    border-collapse:collapse;
}
tr{
    width:100%;
    display:block; /*将tr设置为块体元素*/
    margin:5px 0; /*设置tr间距为2px*/
}
table tr th{
    /*background-color: #eee;*/
}
table tr{
    background: #FAFAFA;
    box-shadow: 0 1px 1px 0 #B3BECB;
    border-radius: 2px;
}
tr th,
tr td{
    text-align: center;
    height:0.46rem;
}
tr th:nth-child(1),
tr td:nth-child(1){
    width:2rem;
}
tr th:nth-child(2),
tr td:nth-child(2){
    width:1.8rem;
}
tr th:nth-child(3),
tr td:nth-child(3){
    width:1.8rem;
}
tr th:nth-child(4),
tr td:nth-child(4){
    width:1.8rem;
}
.loadmore{
    display:none;
    font-size:0.32rem;
    text-align: center;
}