<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推广员管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/purchase_history.css">
</head>
<body>
    <div class="back">< 返回首页</div>
    <div class="title">会员卡购买记录</div>
    <table>
        <tr>
            <th>商品名称</th>
            <th>数量</th>
            <th>购买时间</th>
            <th>购买记录</th>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
        <tr>
            <td>会员周卡</td>
            <td>3</td>
            <td>2018-7-11 13:24:21</td>
            <td>购买成功</td>
        </tr>
    </table>
    <!--分页-->
    <!--<div style="position:relative;">-->
        <!--<div id="pageGro" class="cb">-->
            <!--<div class="pagenum_box">-->
                <!--<div class="pagenum comm">共 <span class="SP">{{page.totalCount}}</span> 条</div>-->
                <!--<div class="pageUp" ng-click="Goback()"></div>-->
                <!--<div class="pageList">-->
                    <!--<ol>-->
                        <!--<li ng-click="num($event)" ng-repeat="number in things">{{number}}</li>-->
                    <!--</ol>-->
                <!--</div>-->
                <!--<div class="pageDown" ng-click="Gonext()"></div>-->
                <!--<div class="totalnum comm">第&nbsp;&nbsp;<input type="text" class="tiaozhuan"/>&nbsp;&nbsp;页</div>-->
                <!--<div class="refurbish"  ng-click="skip()"><a href="#"></a></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<script src="../js/public.js"></script>
</body>
</html>